.messageBox {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--clr-text-color1);
}

.back__btn_wrapper {
    padding: .5em 1em;
    display: inline-block;
}

.user {
    width: 100%;
}

.user:hover {
    background-color: transparent;
}

.secondaryHeader {
    flex-direction: column;
    align-items: center;
    margin: 1em 0;
}

.btn__wrapper {
    max-width: 150px;
}

.messages__container {
    flex-direction: column;
    gap: 2em;
    padding: 2em 1em;
    margin-bottom: 3rem;
}


.form__container {
    justify-content: space-around;
    gap: 1em;
    padding: 0 .5em;
    background-color: var(--clr-primary);
    position: fixed;
    bottom: 60px;
    right: 0;
    left: 0;
}

.form {
    max-width: 750px;
    width: 100%;
    gap: 1em;
}

.form input {
    flex-grow: 1;
}

.form button {
    max-width: 120px;
}

@media (min-width:750px)and (max-width:1049px) {
    .form__container {
        margin-right: 350px;
        margin-left: 80px;
        bottom: 0;
    }
}

@media (min-width:1050px) {
    .form__container {
        margin-left: 250px;
        margin-right: 350px;
        bottom: 0;
    }
}

@media (min-width:1350px) {
    .form__container {
        margin-left: calc(250px + (100% - 1350px)/2);
        margin-right: calc(350px + (100% - 1350px)/2);
    }
}