.form {
    max-width: 100%;
    height: fit-content;
    position: relative;
    margin: 0 auto;
}

.input {
    background: transparent;
    flex-grow: 1;
    align-self: flex-end;
    font-family: inherit;
    font-family: inherit;
    font-family: inherit;

    outline: 0;
    border: 0;
    padding: .25em .5em;
    border-bottom: 1px solid var(--clr-main);
}

.input::placeholder {
    font-size: inherit;
}

.buttonWrapper {

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.buttonWrapper button {
    color: var(--clr-main);
    background-color: transparent;
    outline: 0;
    font-size: 1.5rem;
    border: 0;
}