.layout {
    height: 100vh;
    padding-top: 4rem;
    position: relative;
    overflow: hidden;
}

/* HEADER */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    height: 4rem;
    max-height: 100%;
}

.logoLink {
    display: flex;
    align-items: center;
}


.logoImage {
    height: 3rem;
    width: 3rem;
}

.logoText {
    color: var(--clr-green-main);
    font-weight: var(--fw-bold);
}

/* NAV */
.nav {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
    z-index: 10;
}

.navList {
    height: 3rem;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
    padding: .2rem;
}

.navListItemLink {
    display: flex;
    align-items: center;
    gap: .3rem;
    color: var(--clr-black);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    padding: .5rem;
    border-radius: .8rem;
    aspect-ratio: 1/1;
}

.navListItemLinkActive {
    background-color: var(--clr-green-main);
    color: var(--clr-white);

}

.navListItemLinkText {
    display: none;
    text-transform: capitalize;
}

.addPostItem {
    display: none;
}

.addPostBtn {
    display: flex;
    align-items: center;
    gap: .3rem;
    background-color: var(--clr-green-main);
    color: var(--clr-white);
    font-size: 1.5rem;
    font-weight: var(--fw-bold);
    padding: .7rem 1rem;
    border-radius: 2rem;
    cursor: pointer;
}

/* ASIDE */
.aside {
    display: none;
    top: 3rem;
    right: 0;
    bottom: 0;
    width: 23rem;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* MAIN */

.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid var(--clr-light-gray-text);
}

@media (min-width:34.5rem) {
    .nav {
        top: 4rem;
        right: 100%;
        left: 0;
        border-top: 0;
    }

    .navList {
        height: 100%;
        width: 3rem;
        padding: .5rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: .2rem;
    }

    .navListItemLink {
        aspect-ratio: 0;
    }

    .main {
        margin-left: 3rem;
    }

}

@media (min-width:60rem) {
    .navListItemLinkText {
        display: block;
    }

    .navList {
        width: 14rem;
    }


    .navListItemLink {
        padding: .7rem 1rem;
        border-radius: 2rem;
    }

    .addPostItem {
        display: block;
    }

    .main {
        margin-left: 14rem;
        margin-right: 23rem;
    }

    .aside {
        display: block;
    }

}

::-webkit-scrollbar {
    width: 0;
}