.form {
    flex-grow: 1;
}

.imgPreview {
    border-radius: .5em;
    max-width: 95%;
}

.text__content {
    flex-grow: 1;
}

.postBody textarea,
.postCaption input {
    display: block;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 500;
    letter-spacing: .1em;
    padding: 1em;
    align-self: flex-start;
    border: 0;
    border-radius: 1em;
    background: transparent;
    margin: 0;
    color: var(--clr-black);
}

.text__content textarea:focus {
    border-color: var(--clr-main);
    outline: 0;
}

#labelFileInput {
    font-size: 1.5rem;
    cursor: pointer;
}

.fileInput {
    display: none;
}

.emojiPickerWrapper {
    margin-right: auto;
    margin-left: 1em;
    position: relative;
}

.emojiPickerContainer {
    position: absolute;
    top: 2em;

}



@media (max-width:750px) {

    .userImg {
        width: 2rem;
    }

    .text__input textarea {
        font-size: 1rem;
        padding: .25em .5em;
        min-height: 6rem;
    }


    .btn {
        padding: .25em .5em;
        min-width: 4rem;
        width: auto;
    }

    .btn svg {
        font-size: 1rem;

    }
}