.user {
    width: 100%;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--clr-text-color2);
    margin: 0 auto;
    padding: .5em 1em;
    cursor: pointer;
}

.user:hover {
    background-color: var(--clr-text-color2);
}

.user__figure {
    width: 70%;
    display: flex;
    gap: .5em
}



.btn__wrapper {
    width: 30%;
}

.user__profilePic--large img {
    height: 18rem;
    width: 18rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
}

@media(max-width:750px) {}