.commentContainer {
    border-top: 1px solid var(--clr-light-gray-text);
    padding: .5em;
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
}

.commentImage {
    height: 2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.commentText {
    background-color: var(--clr-very-light-gray-text);
    padding: .5em;
    border-radius: .5em;
    flex-grow: 1;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.commentName {
    font-weight: var(--fw-bold);
    font-size: 1rem;
    color: var(--clr-dark-gray-text);
    text-transform: capitalize;
}

.commentTime {
    font-weight: var(--fw-thin);
    font-size: .8rem;
    color: var(--clr-dark-gray-text);
}


.commentBody {
    font-size: .9rem;
    font-weight: 500;
}