.sendMessageForm {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 3rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    width: 100%;
    background-color: var(--clr-white);
}

.sendMessageForm input {
    flex-grow: 1;
    border: 1px solid var(--clr-dark-gray-text);
}

@media (min-width:34.5rem) {
    .sendMessageForm {
        bottom: 0;
    }
}