.sendMessageForm {
    position: sticky;
    right: 0;
    left: 0;
    bottom: 0;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;
    width: 100%;
}

.sendMessageForm input {
    flex-grow: 1;
    border: 1px solid var(--clr-dark-gray-text);
}