.post {
    border-bottom: 1px solid var(--clr-text-color2);
    padding: 2em 0 0;

}



.user:hover {
    background-color: transparent !important;
}

.user {
    width: 100% !important;
    margin-left: 0 !important;
    border-bottom: 0 !important;
}


.post__container {
    max-width: 100%;
    margin: 0 auto;

}

.postImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.controller {
    background-color: transparent;
    height: 3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1em;
    color: var(--clr-secondary);
}

.controller>:last-child {
    margin-left: auto;
}

.post svg {
    font-size: 1.3rem;
}


.controller>* {
    cursor: pointer;
}

.postText {
    padding: 1em;
    color: var(--clr-text-color1);
}

@media (min-width:750px) {
    .postImg {
        padding: 1em;
        border-radius: 2em;
    }
}