.messageContainer {
    padding: .5em;
    position: relative;
}

.message {
    max-width: 40%;
    width: fit-content;
    border-radius: .8em;
    padding: .8em;
    position: relative;
    min-width: 100px;
    min-height: 70px;
}

.sent img {
    display: block;
    margin-left: auto;
}

.sent .message {
    background-color: var(--clr-main);
    color: var(--clr-white);
    border-top-right-radius: 0;
    margin-left: auto;
}

.recieved .message {
    background-color: var(--clr-secondary);
    color: var(--clr-primary);
    border-top-left-radius: 0;
    margin-right: auto;
}

.messageProfilePic {
    height: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    margin: .5rem 0;
}

.timeStamp {
    position: absolute;
    bottom: .2rem;
    right: .4rem;
    color: var(--clr-light-gray-text);
    font-size: .7rem;
}

.date {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 1rem 0;
    color: var(--clr-white);
}