.modal__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--clr-secondary);
    opacity: .8;
}


.closeBtn {
    position: absolute;
    right: 1em;
    top: .5em;

}

.modal {
    max-height: 80vh;
    max-width: 90%;
    min-height: 10rem;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: .5em;
    transform: translate(-50%, -50%);
    border: 1px solid black;
    border-radius: .4em;
    background-color: var(--clr-primary);
    overflow-y: scroll;

}

.modal::-webkit-scrollbar {
    width: 0;
}

.modalWindow {
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}